[run]
source = zope.security
omit = */flycheck_*.py

[report]
precision = 2
exclude_lines =
    pragma: no cover
    pragma NO COVER
    if __name__ == '__main__':
    raise NotImplementedError
    self.fail
    raise AssertionError
