[buildout]
develop = . 
        ../zope.annotation
        ../zope.app.broken
        ../zope.app.component
        ../zope.app.container
        ../zope.app.interface
        ../zope.app.module
        ../zope.app.publication
        ../zope.app.publisher
        ../zope.app.testing
        ../zope.app.zapi
        ../zope.dublincore
        ../zope.filerepresentation
        ../zope.i18n
        ../zope.location
        ../zope.security
        ../zope.traversing
        ../zope.app.appsetup
        ../zope.app.applicationcontrol
        ../zope.app.http
        ../zope.app.exception
        ../zope.app.error
        ../zope.app.security
        ../zope.app.authentication
        ../zope.app.dependable
        ../zope.app.folder
        ../zope.app.debug
        ../zope.modulealias
parts = test

find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = zope.security [untrustedpython]
