[buildout]
develop = .
parts = test python coverage-test coverage-report

[test]
recipe = zc.recipe.testrunner
eggs = zope.security [test,untrustedpython,zcml,pytz]

[python]
recipe = zc.recipe.egg
eggs = zope.security [untrustedpython]
interpreter = python

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zope.security [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
